.select {
    display: block;
    padding: .75rem 2.5rem .75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: inherit;
    color: #444;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}